<div class="container mt-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4 text-center fw-bold text-dark p-3 rounded" style="background-color: #f8f9fa; font-size: 1.5rem;">案件編集</h2>
    <%= render "shared/error_messages", object: @job_post %>
    <%= render "form", job_post: @job_post %>
  </div>
</div>